<!doctype html>
<html>
<head>
<% @page_title ||= @scaffold_title %>
<title>SacRuby<%= " - #{@page_title}" if @page_title %></title>
</head>

<body>
<%= "<h1>#@page_title</h1>" if @page_title %>
<%= "<h2>#{flash[:notice]}</h2>" if flash[:notice] %>
<%= "<h2 style='color: red'>#@error</h2>" if @error %>
<%= yield %>

<% if logged_in? %>
  <% form(:action=>'/logout', :method=>:post) do |f| %>
    <%= f.button(:value=>'Logout') %>
  <% end %>
<% end %>
</body>
</html>
